.container {
  display: flex;
  justify-content: space-between;
  gap: 15px;  
}

.description {
  display: flex;  
  gap: 5px;
  flex-wrap: wrap;
}

.description-title {
  font-size: large;
  font-weight: 500;
}

.details {
  max-width: 30%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-size: medium;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
