.container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.description-title {
  font-size: large;
  font-weight: 500;
}

.details {
  max-width: 30%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-size: medium;
  font-weight: 500;
}
