.container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.description-title {
  font-size: large;
  font-weight: 900;
}

.details {
  display: flex;
  align-items: center;
  gap: 10px;
}
