.product-details {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background-color: rgba(169, 169, 169, 0.63);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.product-details-content {
  background-color: white;
  min-height: 150px;
  flex-grow: 1;
  max-width: 800px;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.product-details-content img {
  width: 100%;
}
