.product-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding: 10px;
  cursor: pointer;
  gap: 10px;
  border: 1px solid lightgrey;
}

.product-view img {
  width: 100%;
}

.price {
  align-self: flex-end;
}

@media screen and (max-width: 1400px) {
  .product-view {
    width: 33%;
  }
}

@media screen and (max-width: 1100px) {
  .product-view {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .product-view {
    width: 100%;
  }
}
